title = "Pebble Profiles";
items = (
	{
		cell = PSGroupCell;
		label = "UNLOCK";
		footerText = "UNLOCK_FOOTER";
	},
	{
		cell = PSSwitchCell;
		label = "ENABLED";
		default = 1;
		defaults = "com.tyhoff.pebbleprofiles";
		key = enabled;
		PostNotification = "com.tyhoff.pebbleprofiles.preferencechanged";
	},
	{
		cell = PSGroupCell;
		label = "DND";
		footerText = "DND_FOOTER";
	},
	{
		cell = PSSwitchCell;
		label = "ENABLED";
		default = 0;
		defaults = "com.tyhoff.pebbleprofiles";
		key = dnd;
		PostNotification = "com.tyhoff.pebbleprofiles.preferencechanged";
	},
	{
		cell = PSGroupCell;
		label = "PEBBLEDND";
		footerText = "PEBBLEDND_FOOTER";
	},
	{
		cell = PSSwitchCell;
		label = "ENABLED";
		default = 0;
		defaults = "com.tyhoff.pebbleprofiles";
		key = pebblednd;
		PostNotification = "com.tyhoff.pebbleprofiles.preferencechanged";
	},
	{
		cell = PSGroupCell;
		label = "DISABLEDAPPS";
		footerText = "DISABLEDAPPS_FOOTER";
	},
	{
		bundle = AppList;
		cell = PSLinkCell;
		isController = 1;
		label = "APPLICATIONS";
		ALSettingsPath = "/var/mobile/Library/Preferences/com.tyhoff.pebbleprofiles.applist.plist";
		ALSettingsKeyPrefix = "";
		ALChangeNotification = "com.tyhoff.pebbleprofiles.preferencechanged";
		"ALSettingsDefaultValue" = 0;
		ALAllowsSelection = 1;
		ALLocalizationBundle = "/Library/PreferenceBundles/PebbleProPrefs.bundle";
		ALSectionDescriptors = (
			{
			  title = "User Applications";
			  predicate = "isSystemApplication = FALSE";
			  "cell-class-name" = "ALSwitchCell";
			  "icon-size" = 29;
			  "suppress-hidden-apps" = 1;
			},
			{
			  title = "System Applications";
			  predicate = "isSystemApplication = TRUE";
			  "cell-class-name" = "ALSwitchCell";
			  "icon-size" = 29;
			  "suppress-hidden-apps" = 1;
			}
		);
	},
	{
		cell = PSGroupCell;
		label = "ENABLEDAPPS";
		footerText = "ENABLEDAPPS_FOOTER";
	},
	{
		bundle = AppList;
		cell = PSLinkCell;
		isController = 1;
		label = "APPLICATIONS";
		ALSettingsPath = "/var/mobile/Library/Preferences/com.tyhoff.pebbleprofiles.applist2.plist";
		ALSettingsKeyPrefix = "";
		ALChangeNotification = "com.tyhoff.pebbleprofiles.preferencechanged";
		"ALSettingsDefaultValue" = 0;
		ALAllowsSelection = 1;
		ALLocalizationBundle = "/Library/PreferenceBundles/PebbleProPrefs.bundle";
		ALSectionDescriptors = (
			{
			  title = "User Applications";
			  predicate = "isSystemApplication = FALSE";
			  "cell-class-name" = "ALSwitchCell";
			  "icon-size" = 29;
			  "suppress-hidden-apps" = 1;
			},
			{
			  title = "System Applications";
			  predicate = "isSystemApplication = TRUE";
			  "cell-class-name" = "ALSwitchCell";
			  "icon-size" = 29;
			  "suppress-hidden-apps" = 1;
			}
		);
	},
	{
		cell = PSGroupCell;
		label = "WHITELIST";
		footerText = "WHITELIST_FOOTER";
	},
	{
		cell = PSSwitchCell;
		label = "ENABLED";
		default = 0;
		defaults = "com.tyhoff.pebbleprofiles";
		key = whitelist;
		PostNotification = "com.tyhoff.pebbleprofiles.preferencechanged";
	},
	{
		cell = PSGroupCell;
		label = "WORDFILTER";
		footerText = "WORDFILTER_FOOTER";
	},
	{
		bundle = AppList;
		cell = PSLinkCell;
		isController = 1;
		label = "APPLICATIONS";
		ALSettingsPath = "/var/mobile/Library/Preferences/com.tyhoff.pebbleprofiles.applist3.plist";
		ALSettingsKeyPrefix = "";
		ALChangeNotification = "com.tyhoff.pebbleprofiles.preferencechanged";
		"ALSettingsDefaultValue" = 0;
		ALAllowsSelection = 1;
		ALLocalizationBundle = "/Library/PreferenceBundles/PebbleProPrefs.bundle";
		ALSectionDescriptors = (
		{
			title = "User Applications";
			predicate = "isSystemApplication = FALSE";
			"cell-class-name" = "ALDisclosureIndicatedCell";
			validTitles = ("");
			validValues = (0);
			"icon-size" = 29;
			action = "showPreferences";
			"display-identifier-macro" = "@@DISPLAYIDENTIFIER@@";
			"suppress-hidden-apps" = 1;
			entry = {
				items = (
				{
					cell = PSGroupCell;
					label = "";
					footerText = "Notifications with this text in them will always get blocked.";
				},
				{
					cell = PSEditTextCell;
					placeholder = "Blocked text";
					key = "@@DISPLAYIDENTIFIER@@";
					defaults = "com.tyhoff.pebbleprofiles.applist3";
					PostNotification = "com.tyhoff.pebbleprofiles.preferencechanged";
				}
				);
			};
		},
		{
			title = "System Applications";
			predicate = "isSystemApplication = TRUE";
			"cell-class-name" = "ALDisclosureIndicatedCell";
			validTitles = ("");
			validValues = (0);
			"icon-size" = 29;
			action = "showPreferences";
			"display-identifier-macro" = "@@DISPLAYIDENTIFIER@@";
			"suppress-hidden-apps" = 1;
			entry = {
				items = (
				{
					cell = PSGroupCell;
					label = "";
					footerText = "Notifications with this text in them will always get blocked.";
				},
				{
					cell = PSEditTextCell;
					placeholder = "Blocked text";
					key = "@@DISPLAYIDENTIFIER@@";
					defaults = "com.tyhoff.pebbleprofiles.applist3";
					PostNotification = "com.tyhoff.pebbleprofiles.preferencechanged";
				}
				);
			};
		}
		);
	},
	{
		cell = PSGroupCell;
		label = "DONATE";
		footerText = "DONATE_FOOTER";
	},
	{
		cell = PSButtonCell;
		label = "paypal.me/joemerlino";
		alignment = center;
		action = donate;
	}
);
